.c1 { width: 400px; display: grid; padding: 1px; }
.c2 { width: 400px; display: grid; padding: 2px; }
.c3 { width: 400px; display: grid; padding: 3px; }
.c4 { width: 400px; display: grid; padding: 4px; }
.c5 { width: 400px; display: grid; padding: 5px; }
.c6 { width: 400px; display: grid; padding: 6px; }
.c7 { width: 400px; display: grid; padding: 7px; }
.c8 { width: 400px; display: grid; padding: 8px; }
.c9 { width: 400px; display: grid; padding: 9px; }
.c10 { width: 400px; display: grid; padding: 10px; }
.c11 { width: 400px; display: grid; padding: 11px; }
.c12 { width: 400px; display: grid; padding: 12px; }
.c13 { width: 400px; display: grid; padding: 13px; }
.c14 { width: 400px; display: grid; padding: 14px; }
.c15 { width: 400px; display: grid; padding: 15px; }
.c16 { width: 400px; display: grid; padding: 16px; }
.c17 { width: 400px; display: grid; padding: 17px; }
.c18 { width: 400px; display: grid; padding: 18px; }
.c19 { width: 400px; display: grid; padding: 19px; }
.c20 { width: 400px; display: grid; padding: 20px; }
.c21 { width: 400px; display: grid; padding: 21px; }
.c22 { width: 400px; display: grid; padding: 22px; }
