.grid {
  display: grid;
  gap: var(--space-6);
}

.grid--2 {
  grid-template-columns: 1fr;
  align-items: center;
}

@media (min-width: 1024px) {
  .grid--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
